# Data Engineering

In [12]:
# Import dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# Read csv files
measures = pd.read_csv('Resources/hawaii_measurements.csv')
stations = pd.read_csv('Resources/hawaii_stations.csv')

In [16]:
# Inspect data
measures.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [17]:
# Inspect data
stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [19]:
# Clean up data for NaNs
measures = measures.dropna(how='any').reset_index(drop=True)
measures.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [20]:
# Save cleaned data to 
measures.to_csv('Resources/clean_hawaii_measurements.csv')